<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:insert="layouts/head"> </head>
  <body>
    <header th:insert="layouts/header"></header>
    <div class="container"></div>
    <form>
      <div class="row mb-3">
        <label for="Nombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nombre" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="FechaEstreno" class="col-sm-2 col-form-label"
          >Fecha de Estreno</label
        >
        <div class="col-sm-10">
          <input type="date" class="form-control" id="nombre" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="Genero" class="col-sm-2 col-form-label">Genero</label>
        <div class="col-sm-10">
          <select name="" id="" class="form-select">
            <option
              th:each="genero : ${generos}"
              th:text="${genero.nombre}"
              th:value="${genero.id}"
            ></option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </body>
</html>
